<div data-role="page" class="board" id="board">
    <div data-role="content" class="board">
        <table class="board">
            <tbody>
            <tr>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
            </tr>
            <tr>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
            </tr>
            <tr>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td id="freeCell"><%=locals.freeCell.phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
            </tr>
            <tr>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
            </tr>
            <tr>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
                <td class="two"><%=locals.phrases.pop().phrase%></td>
                <td class="one"><%=locals.phrases.pop().phrase%></td>
                <td class="three"><%=locals.phrases.pop().phrase%></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>