<!DOCTYPE html>
<html>
<%- include head.ejs %>
<!-- TODO: what should the title look like? -->
<body>
<!--<div id="fullScreenDialog">-->
    <!--<h1 class="ui-title" >Fullscreen!</h1>-->
    <!--<div role="main">-->
        <!--<h3>Bazingo works best in fullscreen mode. Would you like to go fullscreen?</h3>-->
        <!--<a href="#" id="fullscreenButton">Go Fullscreen</a>-->
        <!--<a href="#">No, thanks</a>-->
    <!--</div>-->
<!--</div>-->

<div class="board" id="board">
    <div class="board">
        <table class="board" id="boardTable">
            <!-- FIXME: make not such an ugly mess (all the duplication and ugly) -->
            <tbody>
            <tr>
                <td class="diagLeft"><div><%= locals.phrases.pop() %></div></td>
                <td><div><%= locals.phrases.pop() %></div></td>
                <td><div><%= locals.phrases.pop() %></div></td>
                <td><div><%= locals.phrases.pop() %></div></td>
                <td class="diagRight"><div><%= locals.phrases.pop() %></div></td>
            </tr>
            <tr>
                <td><%= locals.phrases.pop() %></td>
                <td class="diagLeft"><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
                <td class="diagRight"><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
            </tr>
            <tr>
                <td><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
                <td class="diagLeft diagRight" id="freeCell"><%= locals.freeCell.phrase %></td>
                <td><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
            </tr>
            <tr>
                <td><%= locals.phrases.pop() %></td>
                <td class="diagRight"><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
                <td class="diagLeft"><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
            </tr>
            <tr>
                <td class="diagRight"><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
                <td><%= locals.phrases.pop() %></td>
                <td class="diagLeft"><%= locals.phrases.pop() %></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<%- include postBody.ejs %>
</html>