<!DOCTYPE html>
<html>
<head>
<%- include head.ejs %>
<link rel="stylesheet" href="css/board.css">
</head>
<body>
<div class="description-box outer">
    <div class="middle">
        <div class="inner">
            <h2 class="description-heading">Phrase Description</h2>
            <p class="description-p">This is a sample description of text!</p>
            <p><a href="javascript:;" class="close-box">Close</a></p>
        </div>
    </div>
</div>
<div class="toHide">
    <h1>Tips</h1>
    <ul>
        <li>BAZINGO! works best in landscape mode!</li>
        <li>If you hold a square, it'll tell you its description!</li>
        <li>If the text gets cut off in a square, you can scroll the text with your finger!</li>
    </ul>
    <label>
        <input type="checkbox" id="dont-show">
        Don't show this again
    </label>
    <p><a href="javascript:;" id="okay">Okay, let's play!</a></p>
</div>

<table class="boardTable">
    <!-- FIXME: make not such an ugly mess (all the duplication and ugly) -->
    <tbody>
    <!-- unselectable disables selection in opera -->
    <tr>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
    </tr>
    <tr>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
    </tr>
    <tr>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.freeCell.description %>" unselectable="on" class="diagLeft diagRight" id="freeCell"><div unselectable="on"><%= locals.freeCell.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
    </tr>
    <tr>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
    </tr> 
    <tr>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
        <td data-desc="<%= locals.phrases.next().description %>" unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.last.phrase %></div></td>
    </tr>
    </tbody>
</table>
</body>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script>
    $(function() {
        // FIXME: this doesn't work on Android Browser
        (function setupDescriptionPopup() {
            var pressTimer;
            $('.close-box').click(function(){
               $('.description-box').hide();
            });

            $('.boardTable td').bind('mouseup mouseleave', function() {
                clearTimeout(pressTimer);
                return false;
            }).mousedown(function() {
                var that = this;
                pressTimer = window.setTimeout(function() {
                    var desc = $(that).data('desc');
                    if (!desc) {
                        desc = "No description."
                    }
                    $('.description-p').text(desc);
                    $('.description-heading').text($(that).text());
                    $('.description-box').show();
                }, 400);
                return false;
            });
            $('.description-box').hide();
        }());

        (function setupTips() {
            function startGame() {
                $('.toHide').hide();
                $('.boardTable').show();
            }

            $('.boardTable').hide();
            var tipDontShowCookie = 'tipDontShow';
            if ($.cookie(tipDontShowCookie) === "1") {
                startGame();
            } else {
                $('#okay').click(function() {
                    if ($('#dont-show').is(':checked')) {
                        $.cookie(tipDontShowCookie, 1);
                    }
                    startGame();
                });
                $('.toHide').show();
            }
        }());

        $('.boardTable td').click(function enableCell() {
            $(this).toggleClass('enabled');
            var $td = $(this);

            function handleFiveInARow(i, selection) {
                var $s = selection.$s;
                var winClass = 'win' + selection.name + selection.index;
                if ($s.length >= 5) {
                    $s.addClass(winClass);
                    $s.one('click', function disable() {
                       $s.removeClass(winClass);
                    });
                }
            }

            // TODO: this all could be made more efficient by saving the count and not selecting each time
            // this way is more sure however that the count won't get off :)
            var rowEnabled = (function() {
                var closestTr = $td.closest('tr');
                return {
                    name: "row", $s: closestTr.find('.enabled'),
                    index: closestTr.index()
                };
            })();
            var columnEnabled = {
                name: "column", $s: $('td.enabled:nth-child(' + ($td.index() + 1) + ')'),
                index: $td.index()
            };
            var rightDiagEnabled = {
                name: "rightDiag", $s: $('td.diagRight.enabled'),
                index: 0
            };
            var leftDiagEnabled = {
                name: "leftDiag", $s: $('td.diagLeft.enabled'),
                index: 0
            };
            $.each([rowEnabled, columnEnabled, rightDiagEnabled, leftDiagEnabled], handleFiveInARow);
        });
    });
</script>
</html>