<!DOCTYPE html>
<html>
<head>
<%- include head.ejs %>
<link rel="stylesheet" href="css/board.css">
</head>
<body>
<table class="boardTable">
    <!-- FIXME: make not such an ugly mess (all the duplication and ugly) -->
    <tbody>
    <!-- unselectable disables selection in opera -->
    <tr>
        <td unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
    </tr>
    <tr>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
    </tr>
    <tr>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagLeft diagRight" id="freeCell"><div unselectable="on"><%= locals.freeCell.phrase %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
    </tr>
    <tr>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
    </tr>
    <tr>
        <td unselectable="on" class="diagRight"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
        <td unselectable="on" class="diagLeft"><div unselectable="on"><%= locals.phrases.pop() %></div></td>
    </tr>
    </tbody>
</table>
</body>
<script src="javascripts/jquery-2.1.0.js"></script>
<script>
    $(function () {

        // detect orientation change
        // create pop up that tells user to change
        // remove popup on orientation change

        $('.boardTable td').click(function enableCell() {
            $(this).toggleClass('enabled');
            var $td = $(this);

            function handleFiveInARow(i, selection) {
                var $s = selection.$s;
                var winClass = 'win' + selection.name + selection.index;
                if ($s.length >= 5) {
                    $s.addClass(winClass);
                    $s.one('click', function disable() {
                       $s.removeClass(winClass);
                    });
                }
            }

            // TODO: this all could be made more efficient by saving the count and not selecting each time
            // this way is more sure however that the count won't get off :)
            var rowEnabled = (function() {
                var closestTr = $td.closest('tr');
                return {
                    name: "row", $s: closestTr.find('.enabled'),
                    index: closestTr.index()
                };
            })();
            var columnEnabled = {
                name: "column", $s: $('td.enabled:nth-child(' + ($td.index() + 1) + ')'),
                index: $td.index()
            };
            var rightDiagEnabled = {
                name: "rightDiag", $s: $('td.diagRight.enabled'),
                index: 0
            };
            var leftDiagEnabled = {
                name: "leftDiag", $s: $('td.diagLeft.enabled'),
                index: 0
            };
            $.each([rowEnabled, columnEnabled, rightDiagEnabled, leftDiagEnabled], handleFiveInARow);
        });
    });
</script>
</html>